<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsz.mapper.BrandMapper">
    <resultMap id="brandResultMap" type="brand">
        <result property="count" column="count"/>
    </resultMap>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into brand( name, price, count, publish) values (#{name},#{price},#{count},#{publish});
    </insert>
    <update id="update"></update>

    <select id="selectAll" resultMap="brandResultMap">
        select * from brand;
    </select>

    <select id="selectByid" resultType="com.jsz.pojo.Brand">
        select * from brand where id=#{idd};
    </select>

</mapper>